/*
** Fichier de thème de la GUI
*/

*{
	BackgroundColor: #747474FF;
	BorderWidth: 1.f;
	BorderColor: #666666FF;
	Color: #CCCCCCFF;
}

Window {
	TitleBackgroundColor: #64646490;
}

RadioButton {
	BorderColor: #565656AA;
	BorderWidth: 2.f;
	BackgroundColor: #666666CC;
	CheckColor: #CACACACC;
}

ComboBox {
	/*BackgroundColor: #8d6e5aFF;/*DD;*/
	BorderWidth: 1.f;
	BorderColor: #363535FF;
	ArrowColor: #363535FF;
}